
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-pinterest-circled:before { content: '\f0d2'; } /* '' */
.icon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-css3:before { content: '\f13c'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-stackoverflow:before { content: '\f16c'; } /* '' */
.icon-tumblr-squared:before { content: '\f174'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-stackexchange:before { content: '\f18d'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-reddit:before { content: '\f1a1'; } /* '' */
.icon-reddit-squared:before { content: '\f1a2'; } /* '' */
.icon-steam:before { content: '\f1b6'; } /* '' */
.icon-steam-squared:before { content: '\f1b7'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-git-squared:before { content: '\f1d2'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-wechat:before { content: '\f1d7'; } /* '' */
.icon-paypal:before { content: '\f1ed'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-wikipedia-w:before { content: '\f266'; } /* '' */
.icon-snapchat:before { content: '\f2ab'; } /* '' */
.icon-podcast:before { content: '\f2ce'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */